.carousel {
    margin-bottom: 20px;
}

.carousel.fade {
    opacity: 1;
}

.carousel.fade .item {
    display: block !important;
    position: absolute;
    left: 0 !important;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.6s ease-in-out;
}

.carousel.fade .item:first-child {
    position: relative;
    top: auto;
}

.carousel.fade .item.active {
    height: 100%;
    z-index: 2;
    opacity: 1;
    transition: opacity 0.6s ease-in-out;
}

.owl-carousel .fa {
    font-size: 30px;
    z-index: 10;
    position: absolute;
    top: 50%;
    margin-top: -15px;
}

.owl-carousel .fa-angle-left {
    left: -25px;
}

.owl-carousel .fa-angle-right {
    right: -25px;
}

.carousel-banner-section {
    margin-top: 30px;
    margin-bottom: 15px;
    padding: 0 30px;
}
