{% if carousel %}
    {% set slides = carousel.slides.visible() %}
{% else %}
    {% set slides = [] %}
{% endif %}

{% if slides|length %}
<section class="carousel-section">
    <div class="title-bar light">
        <h2>{{ title }}</h2>
    </div>
    <div class="owl-carousel four" data-arrows-visible="{{ carousel.is_arrows_visible }}">
        {% for slide in slides %}
            {% set link = slide.get_link_url() %}
            {% set translated_image = slide.get_translated_field("image") %}
            {% set cropped_slide = translated_image|thumbnail(size=(carousel.image_width, carousel.image_height), crop="smart", upscale=True) %}
            {% set caption_text = slide.get_translated_field("caption_text") or "" %}
            <a href="{{ link }}" target="{{ slide.get_link_target() }}" class="col-inner" data-toggle="tooltip" title="{{ caption_text }}">
                <img src="{{ cropped_slide }}" alt="{{ caption_text }}">
            </a>
        {% endfor %}
        </a>
    </div>
</section>
{% endif %}
